$opacityStep: 50;

$steps: floor(100 / $opacityStep);

@mixin opacity-x {
  @for $i from 0 through $steps {
    .opacity-#{$opacityStep * $i} {
      opacity: #{$opacityStep * $i / 100}
    }
  }
}

@include opacity-x;