.z-auto {
  z-index: auto
}

$zIndexStep: 10;

$steps: floor(50 / $zIndexStep);

@mixin z-x {
  @for $i from 0 through $steps {
    .z-#{$zIndexStep * $i} {
      z-index: #{$zIndexStep * $i}
    }
  }
}

@include z-x;