////
/// @group max-height
////

$maxHeightStep: 5;

$steps: floor(100 / $maxHeightStep);

@mixin max-height-x {
  @for $i from 1 through $steps {
    .max-height-#{$maxHeightStep * $i} {
      max-height: #{$maxHeightStep * $i * 1%}
    }
  }
}

@include max-height-x;