////
/// @group Texts
////

/// Align the text to the left
.text-left {
  text-align: left;
}

/// Align the text to center
.text-center {
  text-align: center;
}

/// Align the text to the right
.text-right {
  text-align: right;
}

/// Make each word of the text Capitalize
.capitalize {
  text-transform: capitalize;
}

/// Make the first word of the text Capitalize
.capitalize-first {
  text-transform: lowercase;
  &::first-letter {
    text-transform: capitalize;
  }
}

/// Make the text UPPERCASE
.uppercase {
  text-transform: uppercase;
}

/// Make the text UPPERCASE
.lowercase {
  text-transform: lowercase;
}


/// Make the text with no wrap
.nowrap {
  white-space: nowrap;
}

/// Add ellipsis to overflow text
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
  display: block;
}

.italic {
  font-style: italic;
}
